{% for post in site.posts %}
<div class="column flat">
  <div class="ui fluid code card {{ post.language }}">
    {% assign ssize = post.excerpt | size | minus: 1 %}
    {% assign snip = post.excerpt | slice: 0,ssize | strip %}
    {% if snip != '' %}
    <pre><code class="{{ post.highlight }}" style="padding: 10px;">{{ snip }}</code></pre>
    {% endif %}
    <div class="content">
      <a class="header" href="{{ post.url }}">{{ post.title }}</a>
      <div class="meta">
        <span class="date">{{ post.categories }}</span>
      </div>
      {% assign postcontent = post.content | remove: post.excerpt %}
      {% if postcontent != '' %}
      <div class="description">
        <pre></pre>
        {{ postcontent }}
      </div>
      {% endif %}
    </div>
    <div class="extra content">
      <a>
        <i class="circle icon"></i>
        {{ post.language | upcase }} 
      </a>
    </div>
  </div>
</div>
{% endfor %}