---
layout: default
---

<div class="snippet-page">
  <div class="ui stackable grid">
    <div class="three wide column">
      
      <div class="sidebar">        
        <div class="ui vertical fluid menu">
          <a class="active item">
            Snippets
          </a>
          <a class="item">
            Settings
          </a>
        </div>
      </div>    

    </div>
    <div class="thirteen wide column">
      <div class="snippet-view">
        {% assign size = page.excerpt | size | minus: 1 %}
        <pre><code class="{{ post.highlight }}" style="padding: 10px;">{{ page.excerpt | slice: 0, size }}</code></pre>
        <h1 class="ui heading">{{ page.title }}</h1>
        <p class="description">{{ page.description }}</p>
        {{ page.content | remove: page.excerpt }}
      </div>
    </div>
  </div>
</div>
